.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
# data/workspace.RData
analyses_cache/
analyses_additional_cache/
archive/
manuscript/archive
manuscript_cache/
manuscript.tex
manuscript.log
manuscript_identifiable.tex
manuscript_identifiable.log
manuscript_identifiable.pdf
manuscript_identifiable.RmD
manuscript_identifiable.html
manuscript_with-deletions.RmD
data/workspace_full.RData
title_page.rmd
title_page.tex
title_page.pdf

# Python env
.venv/

# Quarto / knitr
*_files/
*_cache/
.quarto/
**/*.quarto_ipynb

# Quarto notebook artifacts
*.quarto_ipynb

# Quarto website output
_site/*.RDataTmp
*.RData
*.RDataTmp
*.RData
/.quarto/
~$*
